@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@700&family=Volkhov:wght@400;700&display=swap');
/* 700^^^  */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@200;700&family=Volkhov:wght@200;700&display=swap');
/* 400 ^^^  */

.App {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Volkhov', serif;
  font-size: 25px;
  text-align: center;
}
.font{
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.color{
    color: #de483a;
    background-color: #de483a;
}
.AppBold{
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Volkhov', serif; 
}
#left{
  text-align: left;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
/* Float to the right on screens that are equal to or less than 768px wide */
@media (min-width: 769px) {
  .float {
    float: right;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}